html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.header {
  background-color: black;
  color: white;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header .container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.66rem;
}

.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
}

.headline {
  top: 9rem;
  position: relative;
  padding: 2rem 3rem;
  width: 20rem;
  background-color: black;
  color: white;
}

h1, h4 {
  font-weight: bold;
}

.headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
}

.headline h4 {
  font-size: 1rem;
}
