html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.header {
  background-color: black;
  color: white;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header .container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.66rem;
}

.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  top: 9rem;
  position: relative;
  padding: 2rem 3rem;
  width: 20rem;
  background-color: black;
  color: white;
}

h1, h4 {
  font-weight: bold;
}

.headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
}

.headline h4 {
  font-size: 1rem;
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  justify-content: space-between;
}

.mobile-nav {
  display: none;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
}

.product-image img {
  max-width: 8em;
}

.product span {
  display: block;
  padding: 0.5rem 0;
  background-color: black;
  color: white;
  text-align: center;
}

.general-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0;
}

.info {
  width: 35%;
}

.heading {
    display: block;
    padding: 1rem 0px 1rem 2rem;
    background-color: black;
    color: white;
}

footer {
  margin-top: 4rem;
  padding: 5rem 0;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }

  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .headline {
    top: 10rem;
    position: relative;
    padding: 1rem 2rem;
    width: 20rem;
    background-color: black;
    color: white;
  }

  .headline h1 {
    margin: 0.25rem 0;
    font-size: 1rem;
  }

  .headline h4 {
    font-size: 0.77rem;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display: none;
  }

  .banner {
    height: 15rem;
  }

  footer {
    text-align: center;
  }

  .general-info {
    display: block;
  }

  .info {
    width: 90%;
    margin: auto;
    padding-bottom: 0.5rem;
  }
}
